In [197]:
import pymongo
from pymongo import MongoClient

## 連結本地資料庫

In [198]:
client = MongoClient('localhost', 27017)

### 建立資料庫&集合

In [211]:
mydb = client["test"]  #要有資料後才會確定生成

In [212]:
mydb["student"].insert_one({"name":"dk","age":"25"})

In [213]:
dblst = client.list_database_names()
if "test" in dblst:
    print("test已存在！")
else :
    print("失敗")

test已存在！

### 刪除集合

In [214]:
mydb["teacher"].insert_one({"name":"pei_ting","age":"35"})

In [215]:
mydb["teacher"].drop()

## 新增&查詢 單筆or多筆

### 對collection新增單筆document

In [216]:
mydb["student"].insert_one({"name":"wen","age":23})
mydb["student"].insert_one({"name":"pan","age":23})

In [217]:
mydb["student"].insert_one({"name":"zoe","age":23})

In [218]:
import datetime

In [219]:
post = {"author": "Mike",
         "text": "My first blog post!",
         "tags": ["mongodb", "python", "pymongo"],
         "date": datetime.datetime.now()}

In [220]:
pos=mydb["posts"]

In [221]:
post_id = pos.insert_one(post).inserted_id  # 不設id情況下會自動插入id
print ("post id is ", post_id)

post id is  620b49a7435faa7eb730f179

### 查詢單個document

In [222]:
print("document is : {} ".format(mydb.student.find_one()))

document is : {'_id': ObjectId('620b49a3435faa7eb730f174'), 'name': 'dk', 'age': '25'}

In [223]:
print("document is : {} ".format(mydb.student.find_one({"name":"dk"})))

document is : {'_id': ObjectId('620b49a3435faa7eb730f174'), 'name': 'dk', 'age': '25'}

In [224]:
mydb.student.find_one({"name":"dk"})["_id"]

ObjectId('620b49a3435faa7eb730f174')

In [225]:
print("document is : {} ".format(mydb.student.find_one({"_id":mydb.student.find_one({"name":"dk"})["_id"]})))

document is : {'_id': ObjectId('620b49a3435faa7eb730f174'), 'name': 'dk', 'age': '25'}

### 批量插入document

In [226]:
new_posts = [{"_id": 0,
               "nba": "westbrook",
               "team": "OKC",
               "tags": ["bulk", "insert"],
               "date": datetime.datetime(2017, 11, 12, 11, 14)},
              {"_id": 13,
               "nba": "george",
               "team": "LAC",
               "text": "and pretty easy too!",
               "date": datetime.datetime(2019, 11, 10, 10, 45)}]

In [227]:
results = mydb["nba"].insert_many(new_posts)

In [228]:
results.inserted_ids

[0, 13]

### 查詢多個document

In [229]:
new2_posts = [{'_id': 555,
               'author': 'Maxsu',
               'date': datetime.datetime(2017, 7, 2, 21, 30, 38, 402000),
               'tags': ['mongodb', 'python', 'pymongo'],
               'text': 'My first blog post!'},
              {'_id': 999,
               'author': 'Kuber',
               'date': datetime.datetime(2017, 7, 3, 14, 14, 8, 28000),
               'tags': ['Docker', 'Shell', 'pymongo'],
               'text': 'This is is my first post!'},
              {'_id': 1000,
               'author': 'Curry',
               'date': datetime.datetime(2017, 11, 12, 11, 14),
               'tags': ['bulk', 'insert'],
               'text': 'Another post!'},
              {'_id': 1001,
               'author': 'Maxsu',
               'date': datetime.datetime(2019, 11, 10, 10, 45),
               'text': 'and pretty easy too!',
               'title': 'MongoDB is fun'}]

In [230]:
results = mydb["you"].insert_many(new2_posts)

In [231]:
for post in  mydb["you"].find({"author": "Maxsu"}):
    print(post)

{'_id': 555, 'author': 'Maxsu', 'date': datetime.datetime(2017, 7, 2, 21, 30, 38, 402000), 'tags': ['mongodb', 'python', 'pymongo'], 'text': 'My first blog post!'}
{'_id': 1001, 'author': 'Maxsu', 'date': datetime.datetime(2019, 11, 10, 10, 45), 'text': 'and pretty easy too!', 'title': 'MongoDB is fun'}

### 列出資料表名稱

In [232]:
cur_collection = mydb.list_collection_names()

print("cur_collection is :", cur_collection)

cur_collection is : ['student', 'you', 'nba', 'posts']

### 查看某collection檔案數量

In [233]:
print("The 'you' collection have {} documents".format(mydb["you"].count_documents({})))
print("author is 'Maxsu' document is {}".format(mydb["you"].count_documents({"author": "Maxsu"})))

The 'you' collection have 4 documents
author is 'Maxsu' document is 2

### 搜尋日期

In [234]:
d = datetime.datetime(2019, 11, 12, 12)

In [235]:
for post in  mydb["you"].find({"date": {"$lt": d}}):
    print(post)

{'_id': 555, 'author': 'Maxsu', 'date': datetime.datetime(2017, 7, 2, 21, 30, 38, 402000), 'tags': ['mongodb', 'python', 'pymongo'], 'text': 'My first blog post!'}
{'_id': 999, 'author': 'Kuber', 'date': datetime.datetime(2017, 7, 3, 14, 14, 8, 28000), 'tags': ['Docker', 'Shell', 'pymongo'], 'text': 'This is is my first post!'}
{'_id': 1000, 'author': 'Curry', 'date': datetime.datetime(2017, 11, 12, 11, 14), 'tags': ['bulk', 'insert'], 'text': 'Another post!'}
{'_id': 1001, 'author': 'Maxsu', 'date': datetime.datetime(2019, 11, 10, 10, 45), 'text': 'and pretty easy too!', 'title': 'MongoDB is fun'}

### 正則表達式查詢

In [236]:
for st in mydb["student"].find({"name":{'$regex':'n.*'}}):
    print(st)

{'_id': ObjectId('620b49a5435faa7eb730f176'), 'name': 'wen', 'age': 23}
{'_id': ObjectId('620b49a5435faa7eb730f177'), 'name': 'pan', 'age': 23}

### Select投影

In [237]:
for st in mydb["student"].find({"name":{'$regex':'n.*'}},{'_id':1,"name":1}):
    print(st)

{'_id': ObjectId('620b49a5435faa7eb730f176'), 'name': 'wen'}
{'_id': ObjectId('620b49a5435faa7eb730f177'), 'name': 'pan'}

### 限制檔案數 & 跳過檔案數

In [238]:
for post in mydb["you"].find({}).limit(2):
    print(post)

{'_id': 555, 'author': 'Maxsu', 'date': datetime.datetime(2017, 7, 2, 21, 30, 38, 402000), 'tags': ['mongodb', 'python', 'pymongo'], 'text': 'My first blog post!'}
{'_id': 999, 'author': 'Kuber', 'date': datetime.datetime(2017, 7, 3, 14, 14, 8, 28000), 'tags': ['Docker', 'Shell', 'pymongo'], 'text': 'This is is my first post!'}

In [239]:
for post in mydb["you"].find({}).skip(2):
    print(post)

{'_id': 1000, 'author': 'Curry', 'date': datetime.datetime(2017, 11, 12, 11, 14), 'tags': ['bulk', 'insert'], 'text': 'Another post!'}
{'_id': 1001, 'author': 'Maxsu', 'date': datetime.datetime(2019, 11, 10, 10, 45), 'text': 'and pretty easy too!', 'title': 'MongoDB is fun'}

### 資料依據某特徵排序

In [240]:
for post in mydb["you"].find({}):
    print(post)

{'_id': 555, 'author': 'Maxsu', 'date': datetime.datetime(2017, 7, 2, 21, 30, 38, 402000), 'tags': ['mongodb', 'python', 'pymongo'], 'text': 'My first blog post!'}
{'_id': 999, 'author': 'Kuber', 'date': datetime.datetime(2017, 7, 3, 14, 14, 8, 28000), 'tags': ['Docker', 'Shell', 'pymongo'], 'text': 'This is is my first post!'}
{'_id': 1000, 'author': 'Curry', 'date': datetime.datetime(2017, 11, 12, 11, 14), 'tags': ['bulk', 'insert'], 'text': 'Another post!'}
{'_id': 1001, 'author': 'Maxsu', 'date': datetime.datetime(2019, 11, 10, 10, 45), 'text': 'and pretty easy too!', 'title': 'MongoDB is fun'}

In [241]:
for post in mydb["you"].find({}).sort("author",pymongo.ASCENDING):  # sort排序 ASCENDING遞增
    print(post)

{'_id': 1000, 'author': 'Curry', 'date': datetime.datetime(2017, 11, 12, 11, 14), 'tags': ['bulk', 'insert'], 'text': 'Another post!'}
{'_id': 999, 'author': 'Kuber', 'date': datetime.datetime(2017, 7, 3, 14, 14, 8, 28000), 'tags': ['Docker', 'Shell', 'pymongo'], 'text': 'This is is my first post!'}
{'_id': 555, 'author': 'Maxsu', 'date': datetime.datetime(2017, 7, 2, 21, 30, 38, 402000), 'tags': ['mongodb', 'python', 'pymongo'], 'text': 'My first blog post!'}
{'_id': 1001, 'author': 'Maxsu', 'date': datetime.datetime(2019, 11, 10, 10, 45), 'text': 'and pretty easy too!', 'title': 'MongoDB is fun'}

### Aggregate()方法

In [249]:
mydb["article"].insert_many([
{
   "_id": 100,
   "title": 'MongoDB Overview',
   "description": 'MongoDB is no sql database',
   "by_user": 'Maxsu',
   "url": 'http://www.yiibai.com',
   "tags": ['mongodb', 'database', 'NoSQL'],
   "likes": 100
},
{
   "_id": 101,
   "title": 'NoSQL Overview', 
   "description": 'No sql database is very fast',
   "by_user": 'Maxsu',
   "url": 'http://www.yiibai.com',
   "tags": ['mongodb', 'database', 'NoSQL'],
   "likes": 10
},
{
   "_id": 102,
   "title": 'Neo4j Overview', 
   "description": 'Neo4j is no sql database',
   "by_user": 'Kuber',
   "url": 'http://www.neo4j.com',
   "tags": ['neo4j', 'database', 'NoSQL'],
   "likes": 750
},
{
   "_id": 103,
   "title": 'MySQL Overview', 
   "description": 'MySQL is sql database',
   "by_user": 'Curry',
   "url": 'http://www.yiibai.com/mysql/',
   "tags": ['MySQL', 'database', 'SQL'],
   "likes": 350
}])

In [269]:
mydb["article"].aggregate([{"$group" : {"_id" : "$title", "num_tutorial" : {"$sum" : 1}}}])

In [275]:
for i in mydb["article"].aggregate([{"$group" : {"_id" : "$by_user", "num_tutorial" : {"$sum" : 1}}}]):  #統計結果，求和每有一個加1
    print(i)

{'_id': 'Curry', 'num_tutorial': 1}
{'_id': 'Kuber', 'num_tutorial': 1}
{'_id': 'Maxsu', 'num_tutorial': 2}

In [279]:
for i in mydb["article"].aggregate([{"$group" : {"_id" : "$by_user", "totle_like" : {"$sum" :"$likes"}}}]):
    print(i)

{'_id': 'Maxsu', 'totle_like': 110}
{'_id': 'Kuber', 'totle_like': 750}
{'_id': 'Curry', 'totle_like': 350}

In [280]:
for i in mydb["article"].aggregate([{"$group" : {"_id" : "$by_user", "avg_like" : {"$avg" :"$likes"}}}]):
    print(i)

{'_id': 'Curry', 'avg_like': 350.0}
{'_id': 'Kuber', 'avg_like': 750.0}
{'_id': 'Maxsu', 'avg_like': 55.0}

### 建立索引

In [292]:
 mydb["nccu"].create_index([('user_id', pymongo.ASCENDING)], unique=True)

'user_id_1'

In [293]:
mydb["nccu"].insert_one({"name":"張和","user_id":28})
mydb["nccu"].insert_one({"name":"宣甫","user_id":1})
mydb["nccu"].insert_one({"name":"秋全","user_id":24})

# CRUD

![image.png](mongodb運算子.png)

### 新增

In [120]:
mydb["student"].insert_one({"name":"yun","age":"18"})

In [126]:
if mydb["student"].find_one({"name":"yun"}):
    print("新增成功")
else :
    print("新增失敗")

新增成功

### 查詢

In [117]:
mydb["student"].find_one({"name":"yun"})

{'_id': ObjectId('620b3064435faa7eb730f15e'), 'name': 'yun', 'age': '18'}

### 更新

In [132]:
mydb["student"].update_one({"name":"yun"},{"$set":{"age":"24"}})

In [133]:
if mydb["student"].find_one({"name":"yun","age":"24"}):
    print("更新成功")
else :
    print("更新失敗")

更新成功

### 刪除

In [136]:
mydb["student"].delete_one({"name":"yun"})

In [137]:
if mydb["student"].find_one({"name":"yun"}):
    print("刪除失敗")
else :
    print("刪除成功")

刪除成功

## 匯入真實資料操作

In [431]:
import csv
import json

import numpy as np
import pandas as pd

In [432]:
data = pd.read_csv("vote_data.csv")

In [433]:
data.rename(columns={data.columns[0]:'_id'},inplace=True)

In [438]:
for i in range(data.shape[0]):
    try:
        mydb["vote"].insert_one(dict(data.iloc[i,:]))
    except:
        n = {}
        for k, v in dict(data.iloc[i,:]).items():
            if isinstance(v, np.int64):
                v = int(v)
            n[k]= v

        mydb["vote"].insert_one(n)

In [323]:
with open ("vote_data.csv",mode="r",encoding="utf-8",newline='') as file:
    data = pd.DataFrame(file)
print(data)

                                                     0
0    ﻿,縣市行政區,同意票數,不同意票數,有效票數,無效票數,投票數,投票權人數,已完成投票所投...
1    0,臺北市松山區,"42,583","37,246","79,829",743,"80,57...
2    1,臺北市信義區,"45,522","38,628","84,150",843,"84,99...
3    2,臺北市大安區,"64,621","52,374","116,995","1,132","...
4    3,臺北市中山區,"41,082","45,181","86,263",794,"87,05...
..                                                 ...
364  363,新竹市東區,"42,096","34,243","76,339",891,"77,2...
365  364,新竹市北區,"27,138","25,882","53,020",657,"53,6...
366  365,新竹市香山區,"12,213","13,399","25,612",353,"25,...
367  366,嘉義市東區,"19,300","23,106","42,406",311,"42,7...
368  367,嘉義市西區,"20,601","29,202","49,803",413,"50,2...

[369 rows x 1 columns]

In [322]:
  data

                                                     0
0    ﻿,縣市行政區,同意票數,不同意票數,有效票數,無效票數,投票數,投票權人數,已完成投票所投...
1    0,臺北市松山區,"42,583","37,246","79,829",743,"80,57...
2    1,臺北市信義區,"45,522","38,628","84,150",843,"84,99...
3    2,臺北市大安區,"64,621","52,374","116,995","1,132","...
4    3,臺北市中山區,"41,082","45,181","86,263",794,"87,05...
..                                                 ...
364  363,新竹市東區,"42,096","34,243","76,339",891,"77,2...
365  364,新竹市北區,"27,138","25,882","53,020",657,"53,6...
366  365,新竹市香山區,"12,213","13,399","25,612",353,"25,...
367  366,嘉義市東區,"19,300","23,106","42,406",311,"42,7...
368  367,嘉義市西區,"20,601","29,202","49,803",413,"50,2...

[369 rows x 1 columns]